body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #05cdf0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  padding: 2px 20px 20px 20px;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 35px 29px 6px 0px rgba(3, 58, 239, 0.2);
}
h1 {
  color: rgb(233, 7, 79);
}
.title {
  margin-bottom: 0.5rem;
}

.input-wrapper {
  position: relative;
}

input {
  border: 1px solid gray;
  border-radius: 6px;
  position: relative;
  /* width: 100%; */
  font-size: 1.2rem;
  margin: 10px;
  line-height: 6ex;
}

label {
  position: absolute;
  top: 0.2ex;
  z-index: 1;
  left: 2em;
  background-color: white;
  padding: 0 5px;
}
#output {
  text-align: center;
  color: #f00544;
}
#submit {
  margin: 12px;
  padding: 15px;
  width: 93%;
  border-radius: 6px;
  border: 1px solid #f00544;
  background-color: white;
  cursor: pointer;
  color: #f00544;
  font-weight: 600;
  font-size: 1.2rem;
}
/*hover button*/
#submit:hover {
  background-color: #f00544;
  color: #fff;
}
form {
  margin: 0 auto;
}

#outputlabel {
  font-weight: 700;
}
